<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/1-16239_sun-cloud-svg-png-icon-free-download-sun.png" type="image/x-icon">
    <title>{{mainTitle}}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <section class="mainSection">
        <header class="headerDIv">
            <div class="container">

                <h1 class="pgtitle">{{title}}</h1>

                <div>
                    <a class="{{navigate1}}" href="/">Weather</a>
                    <a class="{{navigate2}}" href="/about">About</a>
                    <a class="{{navigate3}}" href="/help">Help</a>

                </div>
            </div>
        </header>